*.aux
*.log
*.out
*.gz
ProjectNarrative/Haleh/WithProjection_exclusion_run2016taunu_v2_hmssm_taunu-eps-converted-to.pdf
ProjectNarrative/Haleh/chargedHiggs-confnote-limits-eps-converted-to.pdf
ProjectNarrative/images/met-growth-labc-eps-converted-to.pdf
